@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




* {
    font-family: "Cabin";
}

.swiper-slide {
  height: auto !important;
}

.swiper-wrapper {
  align-items: stretch !important;


}

/* Hide number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @apply appearance-none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.react-datepicker-wrapper { 
  width: 100% !important; 
}
.react-datepicker__input-container { 
  width: 100% !important;
 } 
.react-datepicker__input-container input { 
  width: 100% !important; 
} 

